.main{

	background: url("background1.png") no-repeat center fixed;

}

.top{
	background-color: rgba(255,255,255,0.08);
	font-size: 60px;
	color: #000000;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.top h1{

	font-size: 60px;
}

.app{

	margin: auto;
	position: relative;
  	max-width: 650px;
  	
}

.middle-text{

	margin: auto;
	font-family: "Helvetica", sans-serif;
	white-space: normal;
	color: #000000;
	position: relative;
	padding-top: 50px;
	padding-right: 5%;
	padding-left: 5%;
	text-align: left;
	min-width: 300px;
}

.footer{
	margin: 50px 0px;
	text-align: center;
	font-size: 16px;
}

.footer a{

	color: #000000;
	text-decoration: none;
}

@media only screen and (max-width: 1045px){

.app{

	max-width: 100%;
	margin: auto;
	padding: 5px 20px;
	

}

.middle-text{
	
	
	margin: auto;
	text-align: center;
}

.footer{
	text-align: center;

}

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.app{

		max-width: 100%;
		margin: auto;
		position: relative;
	}

	.middle-text{

		padding: 0px 30px;
		text-align: center;
		margin: 10px 20px;
	}

	.footer{

		text-align: center;
	
	}


}